.urjd567fh {
    padding-top: 32px;
}


/* btn */
.ptj345ik {
    --c1cc265k-0: #D9D9D9;
    --c1cc265k-1: #434343;

    display: flex;
    align-items: center;
    cursor: pointer;
    border: solid .0625rem;
    border-color: var(--c1cc265k-0);
    color: var(--c1cc265k-1);
    background-color: #fff;
    border-radius: .25rem;
    position: relative;
    padding: 0;
    width: 100%;
    padding: .25rem .5rem;
    gap: .5rem;
    justify-content: space-between;
}

/* btn icon */
.yr234gh {
    height: 1.5rem;
    width: 1.5rem;
}

.zjd567e {
    --grid-template-columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--grid-template-columns), 1fr);
    gap: .5rem;
    margin-top: .5rem;
}

@media only screen and (min-width: 1024px) {
    .zjd567e {
        --grid-template-columns: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .zjd567e {
        --grid-template-columns: 4;
    }
}

.kr4j {
    margin-top: .5rem;
}

@media only screen and (min-width: 1024px) {
    .kr4j {
        padding-inline: 2rem;
    }
}

@media only screen and (min-width: 1280px) {
    .kr4j {
        padding-inline: 4rem;
    }
}