.irtjk9kd {
    height: 40px;
    background: #000;
    color: #fff;
    font-size: .625rem;
    text-transform: uppercase;
}

.lfr9df {
    display: flex;
    height: 100%;
    padding: 0 50px;
    justify-content: space-around;
    align-items: center;
}

.ke0934ui {
    display: flex;
    align-items: center;
}

.goirtk94kbvc {

}

.cghy9wlo {
    filter: invert(1) opacity(1);
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}