.itnjfg94jrk {
    position: relative;
    height: 52px;
    box-shadow: 0 2px 5px #0000001a;
}

.rik5fcmj {
    display: flex;
    align-items: center;
    font-size: .6795rem;
}

.orjf03ijrcmv {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.ie3o0 {
    display: flex;
}

.pekdo0bfg {
    padding: 5px 4px;
    border-radius: 2px;
    background: transparent;
}

.irj94g {
    margin-left: 8px;
    width: 1.0984rem;
    height: 1.0984rem;
}

