.u1rtg, .u1rtg > a {
    display: flex;
    align-items: center;    
    font-size: .625rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: .5rem;
    gap: .75rem;
}

.u1rtg {
    background: #000;
    color: #fff;
    justify-content: space-around;
}


.ioe5jrf {
    filter: invert(1);
    width: 30px;
    height: 30px;
}
